<% layout('layouts/boilerplate') %>
<style>
    h2{
        text-align: center;
    }
</style>
<div>
    <h2>omjidwivedi</h2>
</div>
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to Our Company</h2>
                <p>
                    We are a dedicated team of professionals working together to provide high-quality products and services to our clients. With years of experience and expertise, we strive to exceed your expectations.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo assumenda dicta, natus quae quis iste quasi veritatis dignissimos asperiores sint consequuntur molestias unde maiores, in ab laudantium animi nihil nam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quasi, quibusdam doloribus cumque sequi maxime dolorum ducimus quisquam animi distinctio eligendi debitis veniam nam natus, perferendis earum voluptatibus itaque explicabo.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio atque sequi magnam veritatis illum molestiae nesciunt tenetur obcaecati! Quis quaerat cupiditate ad ipsa nam rem voluptates qui iste cumque a.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minima facilis suscipit iusto asperiores obcaecati repudiandae laborum ipsam tempora. Soluta dicta et inventore tempore maxime laudantium aperiam velit eius ullam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sit ea ab, saepe ipsum quae animi ipsam libero repellat. Pariatur tempore enim qui consectetur incidunt nulla dolore adipisci delectus illo!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vero repudiandae perferendis consectetur ratione facilis quia autem, in aliquid non, eos, culpa nemo itaque exercitationem? Eaque quae reiciendis et obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure adipisci dolore eligendi tempore odit esse assumenda ad mollitia minus? Veritatis hic ex facere asperiores tempora id! Modi dignissimos hic cum?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt voluptas rem necessitatibus consequatur eveniet odio dolorum soluta nemo, dolores molestiae aliquam? Nobis sit sequi perferendis fugiat incidunt corporis nesciunt accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, enim. Eos nisi consequuntur soluta aliquam distinctio provident similique tempora at, sit voluptatum maiores, nesciunt adipisci voluptatibus optio atque voluptas officiis!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum architecto explicabo, iste ducimus totam facilis molestiae, maiores ex non aut libero laudantium ea corrupti facere quasi praesentium voluptates dolore quibusdam!
                    &hearts;
                    &theta;
                    co<sub>2</sub>
                    (a+b)<sup>2</sup>
                </p>
            </div>
            <div class="col-md-6">
                <img src="company-image.jpg" alt="Company Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>